<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <h1 th:text="${lang}"></h1>
    <table>
        <tr th:each="car : ${cars}">
            <p>
            <td th:text="${car.name}"
            </td>
            <td th:text="${car.model}"
            </td>
            <td th:text="${car.series}"
            </td> </p>

        </tr>
    </table>
</div>
</body>
</html>