<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            font-size: 130%;
        }

        q:lang(en) {
            quotes: "\00AB" "\00BB";
        }

        q:lang(ru) {
            quotes: "\00AB" "\00BB";
        }
    </style>
</head>
<body>
<div>
    
    <table>
        <tr th:each="car : ${cars}">
            <p>
            <td th:text="${car.name}"
            </td>
            <td th:text="${car.model}"
            </td>
            <td th:text="${car.series}"
            </td> </p>

        </tr>
    </table>
</div>
</body>
</html>